<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixiang.health.modules.sys.mapper.SysCountMapper">

    <select id="user" resultType="com.zhixiang.health.modules.sys.model.dto.SysCountUserDto">
        select
                (select count(1) from sys_user WHERE delete_state = 0) as total,
                (select count(1) from sys_user WHERE delete_state = 0 and used_state = 1) as yesState,
                (select count(1) from sys_user WHERE delete_state = 0 and used_state = 0) as noState,
                (select count(1) from sys_user WHERE delete_state = 0 and date_format(create_date,'%Y-%m-%d')=date_format(SYSDATE(),'%Y-%m-%d')) as today
        from dual
    </select>

    <select id="roleUser" resultType="com.zhixiang.health.common.model.dto.ChartDto">
        select sr.name as name, count(1) as value
        from sys_role sr
            LEFT JOIN sys_user_role sur on sr.id = sur.role_id
        WHERE sr.delete_state = 0
        GROUP BY sr.name
    </select>

    <select id="deptUser" resultType="com.zhixiang.health.modules.sys.model.dto.SysCountDepDto">
        select
            sd.id, sd.name as deptName,
            (
                select count(1) from sys_user_dept s where s.dept_id = sd.id
            ) as userNum,
            (
                select count(1)
                from log_login ll
                         LEFT JOIN sys_user su on ll.user_name = su.user_name
                         LEFT JOIN sys_user_dept sud on su.id = sud.user_id
                WHERE sud.dept_id = sd.id
            ) as loginNum
        from sys_dept sd
        WHERE sd.delete_state = 0
        GROUP BY sd.id, sd.name
        ORDER BY loginNum desc
    </select>

</mapper>
